*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
:root{
    --clr-primary: #fff;
    --clr-secondary: #333;
    --clr-hover: #198754;
}
.active-link, .active-link:hover{
    background: var(--clr-hover);
    color: var(--clr-primary);
}
.pointer{
    cursor: pointer;
}
.top{
    position: absolute;
    top: 0;
    right: 9%;
    width: 15vw;
    padding-left: 1rem;
    height: 8%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: .5rem;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
}
.top div abbr, .top div a{
    font-size:1.5rem;
    color: #fff;
    cursor: pointer;
}
 .bi-sun{
    display: none;
}
body{
    background: url('../images/Konona-bg.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.2); 
    z-index: -1;
}
.main-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-container .left{
    position: relative;
    width: 10%;
    height: 80%;
    top: 4%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 0 16px 16px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(0);
    /* animation: animateLeft 1s ease forwards; */
}
.left .list{
    text-align: center;
    padding: 1rem 1.3rem;
    border-radius: 10px;
    color: var(--clr-primary);
}
.list i{
    font-size: 1.7rem;
}
.left .list:not(.active-link):hover{
    background: rgba(0, 0, 0, 0.1);
    color: #ccc;
}
@keyframes animateLeft{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.main-container .right{
    position: relative;
    width: 90%;
    right: 0;
    height: 100%;
    background: transparent;
}
.right .right-container{
    position: relative;
    width: 80%;
    left: 10%;
    top: 20%;
    height: 60%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.right-container .image-container{
    position: relative;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img{
    position: relative;
    width:45%;
    height: 80%;
    /* object-fit: cover; */
    display: block;
}
.right-container .content-container{
    width: 60%;
    height: 100%;
    padding: 2rem 0;
    color: var(--clr-primary);
}
.content-container h1, .content-container p{
    text-shadow: 1px 1px 2px var(--clr-secondary);
}
.content-container h1{
    margin-bottom: .5rem;
}
.content-container .action{
    position: relative;
    margin-top: 2rem;
}
.content-container .action a{
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-primary);
    background: #333;
}
.action a:nth-child(2){
    background: transparent;
    color: var(--clr-primary);

}
.content-container .bottom{
    position: relative;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bottom a{
    color: var(--clr-primary);
    text-decoration: none;
    font-size: 3rem;
    background: #333;
    clip-path: circle(40%);
}
.bottom a:hover{
    color: var(--clr-hover);
}
.right .right-footer{
    position: relative;
    width: 60%;
    height: 10%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    top: 30%; 
    left: 20%;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.right-footer div:nth-child(1) i{
    color: var(--clr-primary);
    font-size: 2rem;
    padding: .5rem .7rem;
    border-radius: 50%;
    background: #333;
    animation: animateIcon 1s linear infinite;
    border: 3px solid rgb(89, 72, 72);
}
@keyframes animateIcon {
    from{
    padding: .5rem .7rem;
    }
    to{
    padding: .6rem .8rem;
    }
}
.right-footer div:nth-child(2) a{
    text-decoration: none;
    color: var(--clr-primary);
}   
.right-footer div:nth-child(2) a:hover{
    color: #f5f5f5f5;
}


@media (max-width: 768px) {
    body{
        overflow-y: scroll;
    }
    .main-container {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .main-container .left {
        position: relative;
        top: 0;
        width: 90%;
        height: 13%;
        border-radius: 0 0 30px 30px;
        flex-direction: row;
    }
    .left .list{
        text-align: center;
        padding: .5rem 1rem;
        border-radius: 10px;
        color: var(--clr-primary);
    }

    .main-container .right .right-footer {
        display: none;
    }

    .main-container .right .right-container {
        width: 98%;
        left: 0;
        top: 10%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .right-container .image-container img{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .right-container .image-container{
        width: 100%;
    }
    .right-container .content-container{
        padding: 1rem;
        width: 100%;
    }
}

@media (max-width: 480px) {
    body{
        overflow-y: scroll;
    }
    
    .right-container .image-container{
        width: 100%;
    }
    .right-container .content-container{
        padding: 1rem;
        width: 98%;
    }
    .left .list{
        text-align: center;
        padding: .5rem 1rem;
        border-radius: 10px;
        color: var(--clr-primary);
    }
}