
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
.top{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  background: transparent;
}
.top .right, .top .right-sm{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.top .right a{
  display: block;
  padding: .5rem 1rem;
  background: #333;
  color: #fff;
  text-decoration: none;
}
.top .right button{
  background: rgba(0, 0, 0, 0.2);
  padding: .5rem .7rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

}
.top .right button:hover{
  background: rgba(0, 0, 0, 0.1);
}
.top .right #cardButton{
  display: none;
}
.right div #selectCategory{
  padding: .5rem .7rem;
  padding-right: .8rem;
}

.member-hero, .name{
    margin-top: 4rem;
    position: absolute;
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);

}

.name{
  display: none;
  color: #fff;
  padding: 5rem 8rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 450px;
  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("../images/mypic_.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../images/daniel.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("../images/nikko.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("../images/irish1.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(5) {
      background: url("../images/leo1.jpg")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
      h2{
        color: darkorange;
        font-size: 1.5rem;
      }
    }

    

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px cyan;
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}

/* small screen  */

.container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 450px;
  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("../images/irish1.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../images/leo1.jpg")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
      h2{
        color: darkorange;
        font-size: 1.5rem;
      }
    }

    

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px cyan;
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
.top .right-sm{
  display: none;
}
.top .right-sm button, .top .right-sm a{
  padding: .5rem .7rem;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.top .right-sm a{
  background: rgba(0, 0, 0, 0.5);
  display: block;
}

.lg-screen{
  display: block;
}
.sm-screen{
  display: none;
}
  @media screen and (max-width: 800px){
    .top{
      flex-direction: column;
      padding-left: .5rem;
      gap: .5rem;
    }
    .member-hero{
      margin-top: 6rem;
    }
    .top{
      justify-content: space-around;
      flex-direction: row;
      color: #fff;
    }
    .top .right-sm{
      display: flex;
    }
  .top .right a{
    display: none;
  }
  .top .right button{
    display: none;
  
  }
  .lg-screen{
    display: none;
  }
  .sm-screen{
    display: flex;
    flex-direction: column;
  }
  body{
    height: 200vh;
  }
  .container{

    margin-bottom: 2rem;
  }
  }