section{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
#hero{
    background: url('../images/all-characters.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}
/* .overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
} */
 .left{
    position: fixed;
    top: 30%;
    left: 0;
    gap: 1rem;  
 }
 .left .list{
    text-align: center;
    padding: .6rem;
    border-radius: 10px;
    color: var(--clr-primary);
}
 .list i{
    font-size: 1rem;
}
.header{
    position: absolute;
    width: 100vw;
    height: 10%;
    padding: .5rem 1rem;
}
.header .logo{
    font-size: 2rem;
    color: var(--clr-secondary);
    background: #f5f5f5f5;
    padding: .5rem 1rem;
    width: 350px;
    border-radius: 20px;
    left: 0;
}
.animate-logo {
    animation: animateLogo 1s ease-in-out;
  }
  
  @keyframes animateLogo {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
#hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#hero h1{
    font-size: 4rem;
    color: var(--clr-primary);
    padding: .5rem 1.2rem;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
}
#hero-link{
    display: flex;
    gap: 2rem;
}
#hero .hero-link{
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;  
}
#hero .hero-link a{
    padding: 1rem 2rem;
    border-radius: 10px;
    background: #333;
    color: var(--clr-primary);
    text-decoration: none;
}
#hero .hero-link a:nth-child(2){
    background: #f5f5f5f5;
    color: #333;
}
#hero .scroll-down{
    position: relative;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scroll-down i{
    font-size: 4rem;
    font-weight: bolder;
    animation: animateI 1s ease infinite;

}
@keyframes animateI{
    from{
        transform: translateY(-10%);
    }
    to{
        transform: translateY(10%);
    }
}
.scroll-down div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#videos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    /* max-height: auto; */
}
#videos .container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    width: 60%;
    min-height: 50vh;
    border-radius: 10px;
    background: #f5f5f5f5;
    align-items: center;
    margin-top: 5rem;
    /* padding: 2rem; */
}
.container .container-left, .container .container-right{
    position: relative;
    width: 45%;
    height: 100%;
    border-radius: 20px;
}
.container .container-right{
    background: transparent;
    transform: translateY(-20%);
}
.container-right .title{
    margin-bottom: .5rem;
}
.container-right a{
    position: absolute;
    color: #fff;
    text-decoration: none;
    top: 90%;
    margin-top: 2rem;
    padding: .5rem 1rem;
    background: #f52e2e;
    border-radius: 5px;
}
.container-right a:hover{
    background: rgba(0,0,0,.1);
    color: #333;
}
.container-right .stars{
    position: absolute;
    top: 145%;
}
.stars i{
    margin-right: .2rem;
    color: darkorange;
}
.container .container-left iframe{
    position: relative;
    width: 100%;
    height: 100%;
}
.container .container-left::after{
    content: 'Full screen for amazing view';
    position: absolute;
    bottom: -15%;
    left: 0;
    color: rgba(0,0,0,.5);
}
@media screen and (max-width: 988px){
    #hero .container h1{
        font-size: 3rem;
    }
    .container-right .title{
        font-size: 1.2rem;
    }
    .container-right .sub-content{
        font-size: .8rem;
    }
}
@media screen and (max-width: 757px){
    #hero .container h1{
        font-size: 2rem;
    }
    #hero .hero-link a{
        padding: .5rem 1rem;
    }
    #videos .container{
        position: relative;
        width: 80%;
        min-height: 90vh;
        flex-direction: column;
    }
    .container .container-left, .container .container-right{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        padding: .5rem;
    }
    .container .container-right{
        background: transparent;
        transform: translateY(-30%);
    }
    .container .container-left::after{
        content: 'Full screen for amazing view';
        position: absolute;
        bottom: -5%;
        left: 2%;
        color: rgba(0,0,0,.5);
    }
    .container-right .stars{
        position: absolute;
        top: 160%;
    }
    .scroll-down div{
        width: 45px;
        height: 45px;
    } 
    .scroll-down i{
        font-size: 2rem;
        font-weight: bolder;
        animation: animateI 1s ease infinite;
    
    }
    
}
@media screen and (max-width: 509px){
    #hero .container h1{
        font-size: 1.5rem;
    }
}